body {
  font-family: 'Courier New', Verdana;
  font-size: medium;
  text-align: center;
}

body {
  font-family: 'Courier New', Verdana;
  font-size: medium;
}

.heading,
a,
#back {
  color: brown;
}

h1.heading {
  color: antiquewhite;
  background-color: brown;
  font-size: 32px;
}

ul {
  list-style-position: inside;
}

ol.steps {
  text-align: left;
}  

#ice {
  color: blueviolet;
}

#noodle {
  color: darkgoldenrod;
}

#bread {
  color: brown;
}


ul.references * {
  color: hsla(0, 0%, 0%, 0.750);
  font-size: small;
}
